primaryColor = hsl(0, 0, 0%)
mutedColor = hsl(0, 0, 25%)
quietColor = hsl(0, 0, 50%)
silentColor = hsl(0, 0, 75%)
backgroundColor = hsl(0, 0, 100%)

arrowFuncColor    = hsl( 30, 50%, 92%)
functionColor     = hsl(  0, 50%, 92%)
whileColor        = hsl(100, 50%, 92%)
forColor          = hsl(200, 50%, 92%)
ifColor           = hsl( 60, 50%, 92%)
declarationsColor = hsl(220, 50%, 92%)
returnColor       = hsl(140, 50%, 92%)

stringColor       = hsl(140, 70%, 50%)
numberColor       = hsl(  0, 70%, 50%)
regexColor        = hsl( 24, 70%, 50%)

fileColor         = silentColor


labelStyling()
  color rgba(0, 0, 0, 0.2)
  display block
  font-size 0.8em
  text-align right
  margin-bottom -0.6em
