*
  margin 0
  padding 0
  border 0

body
  color mutedColor
  font-size 12px
  font-family sans-serif
  background-color backgroundColor

  > main
    width 50em
    padding 2em 1em 5em 1em
    margin 0 auto

    > header > div
      display: flex
      justify-content: space-between
      align-items: center

h1
  font-size 3em
  margin-bottom 0.5em

h2
  margin-bottom 1em

p
  margin-bottom 0.5em

hr
  border-top 1px
  border-style solid
  border-color silentColor
  margin 1em 0

form#fileUrl
  flex 1 1 auto
  display flex
  gap 1em

  input[type=text]
    border-width 1px
    border-style solid
    border-radius 0.5em
    border-color silentColor
    padding 0.5em 1em
    width 40em

  button
    border-width 1px
    border-style solid
    border-color silentColor
    border-radius 0.5em
    cursor pointer
    padding 0.5em 1em

fieldset
  span
    display: inline-block
    margin-right: 1rem

  span
  label
  input[type=radio]
    cursor pointer

