fontColor = black
functionColor = rgb(250, 230, 230)
declarationsColor = rgb(225, 235, 250)
stringColor = rgb(100, 100, 100)
numberColor = rgb(200, 50, 50)
regexColor = rgb(250, 100, 0)

* {
	margin 0
	padding 0
	border 0
}

body
	color fontColor
	font-size 14px
	font-family sans-serif

form
	display inline-block

textarea
	border 1px solid gray
	display block
	padding 1em
	border-radius 0.4em
	vertical-align top

button
	border-radius 0.5em
	cursor pointer
	padding 0.5em 1em
	margin 2em

#output
	display inline-block
	font-family 'Source Code Pro', 'Courier New', monospace
	width 40em
	vertical-align top

	div,
	section
		border-radius 0.4em

	> div,
	> section
		margin-bottom 1em


.string
	font-family serif
	color stringColor
	font-size 1.2 em

.number
	color numberColor

.regex
	color regexColor

.label,
.function::after
	content: 'function'
	font-size 0.8em
	position absolute
	top 0.4em
	right 0.8em
	color rgba(0, 0, 0, 0.2)

.function
	background-color functionColor
	padding 1em
	margin-bottom 1em
	position relative

	header
		margin-bottom 0.3em
		padding-bottom 0.2em
		border-bottom 1px solid rgba(0, 0, 0, 0.1)

	> div
		// margin 0.5em

	.name
		font-weight 900
		margin-right 0.5em

	.arguments
		color gray
		&::before
			content '('
		&::after
			content ')'

	.argument:not(:last-of-type)
		&::after
			content ', '

.declarations
	background-color declarationsColor
	padding 0.2em 0.8em
	margin-bottom 0.2em
	position relative

.assignment
	&::after
		content: ' = '
