primaryColor = hsl(0, 0, 0%)
mutedColor = hsl(0, 0, 25%)
quietColor = hsl(0, 0, 50%)
silentColor = hsl(0, 0, 75%)
backgroundColor = hsl(0, 0, 100%)

functionColor = rgb(250, 230, 230)
declarationsColor = rgb(225, 235, 250)
stringColor = rgb(100, 160, 120)
numberColor = rgb(200, 50, 50)
regexColor = rgb(250, 100, 0)
returnColor = rgb(200, 250, 220)
fileColor = silentColor

labelStyling()
  color rgba(0, 0, 0, 0.2)
  display block
  font-size 0.8em
  text-align right


// --------

* {
  margin 0
  padding 0
  border 0
}

body
  color primaryColor
  font-size 13px
  font-family sans-serif
  background-color backgroundColor

main
  width 50em
  padding 2em 1em 5em 1em
  margin 0 auto

h2
  margin-bottom 1em

p
  margin-bottom 0.5em

form
  display inline-block
  input[type=text]
    border-radius 0.5em
    border 1px solid silentColor
    padding 0.5em 1em
    width 25em

textarea
  border 1px solid gray
  display none //block
  padding 1em
  border-radius 0.4em
  vertical-align top

button
  border 1px solid silentColor
  border-radius 0.5em
  cursor pointer
  padding 0.5em 1em
  margin 2em

.file
  border 1px solid fileColor
  border-radius 0.5em
  padding 1em 1em
  position relative
  font-family 'Source Code Pro', 'Courier New', monospace
  > .label
    margin-bottom 1em
    color rgba(primaryColor, 0.8)

.string
  font-style italic
  font-weight 700
  color stringColor

.number
  color numberColor

.regex
  color regexColor

.label
  labelStyling()

.function
  background-color functionColor
  border 1px solid darken(functionColor, 10%)
  padding 0.5em 1em
  margin-bottom 1em
  position relative

  &::before
    content 'function'
    margin-bottom -0.6em
    labelStyling()

  header
    margin-bottom 0.3em
    padding-bottom 0.2em
    border-bottom 1px solid rgba(0, 0, 0, 0.1)

  > div
    // margin 0.5em

  .name
    font-weight 900
    margin-right 0.5em

  .parameters
    color gray
    &::before
      content '('
    &::after
      content ')'

  .parameter:not(:last-of-type)
    &::after
      content ', '

.functionExpression
  .params
    &::before
      content '('
    &::after
      content ')'
    & > span:not(:last-of-type)
      &::after
        content ', '

.declarations
  background-color declarationsColor
  border 1px solid darken(declarationsColor, 5%)
  border-radius 3px
  padding 0.2em 0.8em
  margin-bottom 0.2em
  position relative

.operator
  margin 0 0.4em

.return
  display inline-block
  background-color returnColor
  border 1px solid darken(returnColor, 20%)
  padding 0.2em 1em
  border-radius 0.4em
  position relative
  min-width 8em

  &::before
    content 'return'
    margin-bottom -0.6em
    labelStyling()

.comment
  border-left 4px solid rgb(240, 240, 240)
  padding-left 1em
  color rgb(180, 180, 180)
  font-size 0.9em

.commentedSection
  margin-top 1em

.label + .commentedSection
  margin-top 0 !important

.withTrailingComment
  p
    display inline-block
    margin-right 1em

  .trailing.comment
    border-width 2px
    padding-left 0.5em

.arrayElement
  border-collapse collapse
  border 1px solid rgba(0,0,0,0.2)
  margin-right -1px
  padding 0 0.5em

.openingBracket,
.closingBracket,
.arraySeparator
  color transparent

.assignment,
.infinity,
.true,
.false,
.equal,
.bitshift
  color transparent
  margin 0 0.2em
  width 0.8em
  display inline-block
  &::before
    color black


.assignment
  font-size 0.8em
  padding 0 0.2em
  &::before
    content '='

.infinity
  font-size 1.4em
  vertical-align -10%
  &::before
    content '∞'

.true::before
  color green
  content '✔︎'
.false::before
  color red
  content '✘'

span[class='operator equal']
  width 1.5em
  &::before
    color orange
    content 'is'
.not.equal::before
  content '≠'

span[class='operator strict equal']
  width 6.5em
  &::before
    color orange
    content 'is exactly'
    white-space nowrap
.not.strict.equal::before
  content '≢'
  font-size 1.6em

.bitshift.left::before
  content '≪'
.bitshift.right::before
  content '≫'

.smaller.equal::before
  content '≤'
  font-size 1.2em
.larger.equal::before
  content '≥'
  font-size 1.2em

.error
  color red
  background-color rgb(250,200,200)
  border 1px solid rgb(230,180,180)
  border-radius 3px
  padding 0.2em 1em

.shebang
  color gray
  margin-bottom 1em

// .thisExpression
//  &::after
//    content 'this'
